
/* Loading local fonts */
@font-face {
    font-family: 'Altero';
    src: url(fonts/Altero_regular/Altero\ Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Questrial';
    src: url(fonts/Questrial-Regular.ttf) format('truetype');
}

/* Main Colour Palette Reusauble */
:root {
  --navy: #001F3D;
  --orange: #ED985F;
  --peach: #F7B980;
  --light: #E6E6E6;
}

/* Resetting browser margin and padding to elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Style */
body {
    background-color: var(--navy);
    color: var(--peach);
    font-family: 'Questrial', sans-serif; /* fallback to any sans serif */
    min-height: 100vh;

}

h1, h2, h3 {
    font-family: 'Altero', sans-serif;
}


/* Dark Mode */ 
body.dark {
  --navy: #121358;
  --secondary: #232F72;
  --tertiary: #2F578A; /*Text colour */
  --highlight: #36ADA3; /* For links, accents, borders etc */
}


/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 200px;
}

.logo img {
    width: 100px;
    height: auto; /* Image won't stretch */
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.nav-links a {
  color: var(--light);
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Homepage Body */
.hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}   

.hero p {
    font-size: 24px;
}
.hero h1 {
    font-size: 36px;
}

/* Section Border Style */
.section-border-style {
    text-align:center;
    font-size: 30px;
    color: var(--peach);
    padding: 100px;
}
/* Feature Body */
.featured {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-bottom: 50px;
}

.featured h1 {
    padding-bottom: 10px;
    font-size: 36px;
}

.featured ul {
    font-size: 24px;
}

/* Featured Video */
.featured_item video {
    width: 100%;
    max-width:800px;
    max-height: 400px;
}
/* Footer */
footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var(--orange);
    padding: 40px 20px 20px;
    gap: 16px;
}

.footer-top p {
    color: var(--light);
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.social-links .twitter-icon {
    width: 25px;
    height: 20px;
    
} 

.social-links .github-icon {
    width: 30px;
    height: 40px;
}  

.footer-brand {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--light);
    font-size: 58px;
    font-family: 'Altero', sans-serif;
}